<b>Note</b>: Pada kuis kali ini kita akan menggunakan data diamonds.csv yang bisa kalian download [disini](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd). setelah di download, kalian pindahkan data tersebut satu level dengan direktori file notebook ini.

In [2]:
import pandas as pd
df = pd.read_csv('diamonds.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Columns Metadata:

carat: berat diamond

cut: kualitas diamond

color: warna diamond

clarity: level kemurnian diamonds

depth: tinggi dari diamond tabel

table: lebar  dari diamond tabel

price: harga diamond ($US)

x: panjang

y: lebar

z: kedalaaman

<h2>Soal 1: Process Grouping</h2>

Jelaskan prosess yang terjadi dalam grouping data menggungkan method <b>groupby()</b> dari pandas.

jawab:

Splitting : Memisahkan data kedalam suatu group berdasarkan kriteria tertentu, jadi data akan dipisah sesuai kriteria yang telah ditentukan.

Applying : Melakukan suatu operasi terhadap sekumpulan data di group-group tersebut, jadi setelah digroupkan data akan dilakukan agregasi bisa berupa mean, sum, max, min, dan lainnya.

Combining : Menggabungkan data menjadi suatu struktur baru, setelah grouping akan menjadi data baru yang tentunya lebih ringkas.

<h2>Soal 2: Grouping All Column</h2>
    
Group data diamond berdasarkan cut (kualitas), lakukan aggregasi dengan fungsi rata2.

Kemudian jawab pertanyaan berikut.
- Berapa harga rata2 dari diamond berkualitas Premium

Expected Output:

![alt text](https://drive.google.com/uc?id=1GKanuLzNv_pYBFVRBmQywxQw39uQBvSl)

In [15]:
# code here
df_group=df.groupby('cut').mean()
df_group

,carat,depth,table,price,x,y,z
cut,,,,,,,
Fair,1.046137,64.041677,59.053789,4358.757764,6.246894,6.182652,3.982770
Good,0.849185,62.365879,58.694639,3928.864452,5.838785,5.850744,3.639507
Ideal,0.702837,61.709401,55.951668,3457.541970,5.507451,5.520080,3.401448
Premium,0.891955,61.264673,58.746095,4584.257704,5.973887,5.944879,3.647124
Very Good,0.806381,61.818275,57.956150,3981.759891,5.740696,5.770026,3.559801

jawab:

In [17]:
# harga rata2 dari diamond berkualitas Premium
print('harga rata-rata dari diamond berkualitas Premium adalah ',df_group.loc['Premium','price'])

harga rata-rata dari diamond berkualitas Premium adalah  4584.2577042999055

<h2>Soal 3: Grouping Some Column base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut (kualitas) dan color (warna) secara berurutan, dengan aggregasi pada column carat, table, dan price saja. dengan fungsi agregasi rata-rata.

Kemudian jawab pertanyaan berikut:
- Berapa harga diamond yang berkriteria premium dan berwarna J
- Berapa nilai dari carat diamond yang berkriteria very good dan berwarna H

Expected Output:

Note: gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1XB_uHor7ZCPQUH9uQjSfd6aC6_yJnjh9)

In [22]:
# code here
df_group2=df.groupby(['cut','color'])[['carat', 'table','price']].mean()
df_group2

                    carat      table        price
cut       color
Fair      D      0.920123  58.969325  4291.061350
          E      0.856607  59.364732  3682.312500
          F      0.904712  59.453205  3827.003205
          G      1.023822  58.773248  4239.254777
          H      1.219175  58.696370  5135.683168
          I      1.198057  59.237143  4685.445714
          J      1.341176  58.917647  4975.655462
Good      D      0.744517  58.541541  3405.382175
          E      0.745134  58.779957  3423.644159
          F      0.775930  58.910891  3495.750275
          G      0.850896  58.471986  4123.482204
          H      0.914729  58.611111  4276.254986
          I      1.057222  58.773946  5078.532567
          J      1.099544  58.813029  4574.172638
Ideal     D      0.565766  55.965632  2629.094566
          E      0.578401  55.967461  2597.550090
          F      0.655829  55.924203  3374.939362
          G      0.700715  55.902375  3720.706388
          H      0.799525  55.965843  3889.334831
          I      0.913029  56.021357  4451.970377
          J      1.063594  56.012612  4918.186384
Premium   D      0.721547  58.718964  3631.292576
          E      0.717745  58.779461  3538.914420
          F      0.827036  58.679279  4324.890176
          G      0.841488  58.702360  4500.742134
          H      1.016449  58.792034  5216.706780
          I      1.144937  58.771849  5946.180672
          J      1.293094  58.874752  6294.591584
Very Good D      0.696424  58.041309  3470.467284
          E      0.676317  58.038875  3214.652083
          F      0.740961  57.848429  3778.820240
          G      0.766799  57.784428  3872.753806
          H      0.915948  57.903015  4535.390351
          I      1.046952  58.105150  5255.879568
          J      1.133215  58.277729  5103.513274

jawab:

In [73]:
# harga diamond yang berkriteria premium dan berwarna J
df2=df_group2.reset_index()
cut_premium=df2['cut']=='Premium'
warna_J=df2['color']=='J'
premium_J=df2[(cut_premium)&(warna_J)].set_index('cut')
print('Harga diamond kualitas Premium dan berwarna J adalah',premium_J.loc['Premium','price'])

# nilai dari carat diamond yang berkriteria very good dan berwarna H
carat_vg=df2['cut']=='Very Good'
warna_H=df2['color']=='H'
vg_H=df2[(carat_vg)&(warna_H)].set_index('cut')
print('Nilai diamond kualitas Very Good dan berwarna H adalah',vg_H.loc['Very Good','carat'])

Harga diamond kualitas Premium dan berwarna J adalah 6294.591584158416
Nilai diamond kualitas Very Good dan berwarna H adalah 0.9159484649122761

<h2>Soal 4: Group By Multiple Aggregate Base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan kemudian aggregasi objek group by nya dengan fungsi rata2 dan median.

Kemudian Jawab Pertanyaan berikut:

- Berapa nilai median dari harga diamond berkualitas good dan berwarna F

Expected Output:

Note : gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1fUPIse5ELrzj26ZyWBqsAVOUb6yf7UoD)

In [39]:
# code here
df_group3=df.groupby(['cut','color']).agg(['median','mean'])
df_group3.head()

            carat            depth             table              price  \
           median      mean median       mean median       mean  median
cut  color
Fair D       0.90  0.920123   64.8  64.048466   58.0  58.969325  3730.0
     E       0.90  0.856607   64.8  63.319643   59.0  59.364732  2956.0
     F       0.90  0.904712   64.8  63.508013   59.0  59.453205  3035.0
     G       0.98  1.023822   65.0  64.339809   58.0  58.773248  3057.0
     H       1.01  1.219175   65.1  64.585149   58.0  58.696370  3816.0

                             x                y                z
                   mean median      mean median      mean median      mean
cut  color
Fair D      4291.061350  6.080  6.018344   6.01  5.963190  3.900  3.839877
     E      3682.312500  6.070  5.909063   6.02  5.858214  3.760  3.722143
     F      3827.003205  6.060  5.990513   5.99  5.931122  3.815  3.787821
     G      4239.254777  6.125  6.173822   6.04  6.114076  3.970  3.963153
     H      5135.683168  6.330  6.579373   6.25  6.497393  4.090  4.219373

jawab:

In [75]:
# nilai median dari harga diamond berkualitas good dan berwarna F
df3=df_group3.reset_index()
cut_good=df3['cut']=='Good'
warna_F=df3['color']=='F'
good_F=df3[(cut_good)&(warna_F)].set_index('cut')
gf=good_F['price']
print('nilai median diamond kualitas Good dan berwarna F adalah',gf.loc['Good','median'])

nilai median diamond kualitas Good dan berwarna F adalah 2647.0

<h2>Soal 5: Group By With Different Aggregation for specific Column</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian aggreagate dengan fungsi max pada column price dan fungsi min pada column carat.

Kemudian Jawab Pertanyaan berikut:

- Berapa nilai max dari price untuk diamond berkualitas Ideal

Expected Output:

![alt text](https://drive.google.com/uc?id=1B_z5PBkLe4hNJJJV3JgDGP9G--llytKf)

In [53]:
# code here
df_group4=df.groupby('cut')[['price','carat']].agg({'price':'max','carat':'min'})
df_group4

           price  carat
cut
Fair       18574   0.22
Good       18788   0.23
Ideal      18806   0.20
Premium    18823   0.20
Very Good  18818   0.20

jawab:

In [67]:
# nilai max dari price untuk diamond berkualitas Ideal
print('Nilai max dari harga diamond kualitas Ideal adalah',df_group4.loc['Ideal','price'])

Nilai max dari harga diamond kualitas Ideal adalah 18806

<h2>Soal 6: Group By With Custom Function</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian lakukan aggregasi dengan fungsi standar deviasi pada column carat dan fungsi rentang nilai antara max dan min pada column price.

Kemudian jawab pertanyaan berikut:
- Berapa selisih harga tertinggi dan terendah dari diamond berkualitas Premium

Expected Output:

![alt text](https://drive.google.com/uc?id=1bl6_8KryXCxLfzpAf4YF80Qvt15a3uQ6)

In [68]:
# code here
def rentan (x):
    return max(x)-min(x)

df_group5=df.groupby('cut')[['price','carat']].agg({'price':rentan,'carat':'std'})
df_group5

           price     carat
cut
Fair       18237  0.516404
Good       18461  0.454054
Ideal      18480  0.432876
Premium    18497  0.515262
Very Good  18482  0.459435

jawab:

In [69]:
# selisih harga tertinggi dan terendah dari diamond berkualitas Premium
print('selisih harga tertinggi dan terendah diamond kualitas Premium adalah',df_group5.loc['Premium','price'])

selisih harga tertinggi dan terendah diamond kualitas Premium adalah 18497